.movie-container {
height: 20rem;
margin-bottom: 2rem;
padding: 10px;
background-color: white;
border-radius: 8px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.poster img {
height: 18.5rem;
border-radius: 8px
}

.movie-info {
color: #3d3d3d;
}

h2.title {
font-weight: 700;
font-family: 'Roboto', sans-serif;
margin-top: 3rem;
color: #585858;
}

.box {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    
}
p.overveiw {
    font-size: 1.3rem;
    height: 100px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}
@media (max-width: 576px) {
    .movie-container {
        height: auto
    }
    .poster {
        position: relative;
        justify-content: center;
        display: flex;
        overflow: hidden;
        background-image: url("https://picsum.photos/576/300/?blur=10");
        border-radius: 8px;
      }
      
      .poster img {
        position: relative;
        z-index: 1;
        margin: auto;
        border-radius: 0px
      }
      .movie-info {
        margin-left: 0rem;
    }
    h2.title {

        margin-top: 1rem;
    }
    .box {
        font-size: 1.1 rem;
    }
    p.overveiw {
        font-size: 1rem;
    }
    
    }

    @media screen and (min-width: 577px) and (max-width: 767px) {
        .movie-container {
            height: 22rem;
            }

            .poster img {
                height: 20.5rem;
                border-radius: 8px
                }
            
        h2.title {
            margin-top: 0rem;
            }
            .movie-info {
                margin-left: 5px;
            
                }
                

    }