
*{
margin: 0;
padding: 0;
text-decoration: none;
font-family: 'Dancing Script', cursive;
font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none !important;
  color: none;
}

body{
  background-color:whitesmoke !important;
}

p.notfound {
  text-align: center;
  font-size: 1.5rem;
}